.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin: 30px 0px;
    margin-bottom: 15px;
}

.screen-header__title {
    font-size: 28px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 20px;
}

.screen-header__icons {
    position: relative;
}

.screen-header__notification {
    background-color: tomato;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 60px;
    bottom: 25px;

}

.screen-header__notification2 {
    background-color: tomato;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 110px;
    bottom: 25px;

}